C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:1:absl-py>=2.3.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:2:accelerate>=1.11.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:3:aiofiles>=25.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:4:aiohappyeyeballs>=2.6.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:5:aiohttp>=3.13.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:6:aiolimiter>=1.2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:7:aiosignal>=1.4.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:8:albucore>=0.0.24
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:9:albumentations>=2.0.8
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:10:altair>=5.5.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:11:annotated-types>=0.7.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:12:anyio>=3.7.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:13:asttokens>=2.4.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:14:astunparse>=1.6.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:15:attrs>=25.4.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:16:av>=16.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:17:backoff>=2.2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:18:beautifulsoup4>=4.14.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:19:blinker>=1.9.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:20:branca>=0.8.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:21:cachetools>=6.2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:22:certifi>=2025.10.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:23:cffi>=2.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:24:charset-normalizer>=3.4.4
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:25:click>=8.3.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:26:cohere>=4.37
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:27:colorama>=0.4.6
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:28:comm>=0.2.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:29:contourpy>=1.3.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:30:cycler>=0.12.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:31:dataclasses-json>=0.6.7
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:32:debugpy>=1.8.17
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:33:decorator>=5.2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:34:distro>=1.9.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:35:dnspython>=2.8.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:36:docstring_parser>=0.17.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:37:docx>=0.2.4
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:39:einops>=0.8.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:40:eval_type_backport>=0.3.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:41:executing>=2.2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:42:faiss-cpu>=1.13.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:43:fastapi>=0.104.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:44:fastavro>=1.12.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:45:filelock>=3.19.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:46:Flask>=3.1.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:47:flatbuffers>=25.9.23
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:48:folium>=0.20.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:49:fonttools>=4.60.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:50:frozenlist>=1.8.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:51:fsspec>=2025.9.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:52:gast>=0.7.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:53:geographiclib>=2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:54:geopy>=2.4.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:55:gitdb>=4.0.12
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:56:GitPython>=3.1.45
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:57:google-ai-generativelanguage>=0.6.15
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:58:google-api-core>=2.29.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:59:google-api-python-client>=2.188.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:60:google-auth>=2.41.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:61:google-auth-httplib2>=0.3.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:62:google-auth-oauthlib>=1.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:63:google-generativeai>=0.8.6
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:64:google-pasta>=0.2.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:65:googleapis-common-protos>=1.72.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:66:greenlet>=3.3.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:67:groq>=1.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:68:grpcio>=1.76.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:69:grpcio-status>=1.71.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:70:gunicorn>=25.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:71:h11>=0.16.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:72:h5py>=3.15.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:73:httpcore>=1.0.9
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:74:httplib2>=0.31.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:75:httptools>=0.7.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:76:httpx>=0.25.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:77:huggingface-hub>=0.36.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:78:idna>=3.11
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:79:ImageIO>=2.37.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:80:importlib-metadata>=6.11.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:81:ipykernel>=7.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:82:ipython>=9.7.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:83:ipython_pygments_lexers>=1.1.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:84:itsdangerous>=2.2.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:85:jedi>=0.19.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:86:Jinja2>=3.1.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:87:jiter>=0.12.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:88:joblib>=1.5.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:89:jsonpatch>=1.33
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:90:jsonpointer>=3.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:91:jsonschema>=4.25.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:92:jsonschema-specifications>=2025.9.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:93:jupyter_client>=8.6.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:94:jupyter_core>=5.9.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:96:kiwisolver>=1.4.9
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:97:langchain>=0.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:98:langchain-community>=0.0.10
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:99:langchain-core>=0.1.23
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:100:langchain-openai>=0.0.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:101:langsmith>=0.0.87
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:102:lazy_loader>=0.4
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:103:libclang>=18.1.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:104:lightning-utilities>=0.15.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:105:livekit>=1.0.23
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:106:livekit-agents>=1.3.12
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:107:livekit-api>=1.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:108:livekit-blingfire>=1.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:109:livekit-protocol>=1.1.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:110:loguru>=0.7.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:111:lxml>=6.0.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:112:Markdown>=3.9
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:113:markdown-it-py>=4.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:114:MarkupSafe>=2.1.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:115:marshmallow>=3.26.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:116:matplotlib>=3.10.7
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:117:matplotlib-inline>=0.2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:118:mdurl>=0.1.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:119:ml_dtypes>=0.5.4
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:120:mpmath>=1.3.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:121:multidict>=6.7.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:122:mypy_extensions>=1.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:123:namex>=0.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:124:narwhals>=2.9.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:125:nest-asyncio>=1.6.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:126:networkx>=3.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:127:nltk>=3.9.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:128:numpy>=2.4.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:129:oauthlib>=3.3.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:130:openai>=1.109.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:131:opencv-python>=4.12.0.88
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:132:opencv-python-headless>=4.12.0.88
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:133:opentelemetry-api>=1.39.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:134:opentelemetry-exporter-otlp>=1.39.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:135:opentelemetry-exporter-otlp-proto-common>=1.39.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:136:opentelemetry-exporter-otlp-proto-grpc>=1.39.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:137:opentelemetry-exporter-otlp-proto-http>=1.39.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:138:opentelemetry-proto>=1.39.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:139:opentelemetry-sdk>=1.39.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:140:opentelemetry-semantic-conventions>=0.60b1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:141:opt_einsum>=3.4.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:142:optree>=0.18.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:143:orjson>=3.11.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:144:packaging>=23.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:145:pandas>=3.0.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:146:parso>=0.8.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:147:pathlib>=1.0.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:148:pillow>=11.3.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:149:pinecone>=8.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:150:pinecone-client>=3.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:151:pinecone-plugin-assistant>=3.0.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:152:pinecone-plugin-interface>=0.0.7
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:153:platformdirs>=4.5.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:154:plotly>=6.4.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:155:prometheus_client>=0.24.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:156:prompt_toolkit>=3.0.52
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:157:propcache>=0.4.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:158:proto-plus>=1.27.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:159:protobuf>=5.29.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:160:psutil>=7.1.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:161:pure_eval>=0.2.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:162:pyarrow>=21.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:163:pyasn1>=0.6.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:164:pyasn1_modules>=0.4.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:165:pycparser>=3.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:166:pydantic>=2.5.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:167:pydantic_core>=2.14.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:168:pydeck>=0.9.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:169:Pygments>=2.19.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:170:PyJWT>=2.10.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:171:PyMuPDF>=1.27.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:172:pyparsing>=3.2.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:173:PyPDF2>=3.0.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:174:python-dateutil>=2.9.0.post0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:175:python-docx>=0.8.11
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:176:python-dotenv>=1.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:177:python-multipart>=0.0.6
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:178:pytz>=2025.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:179:PyYAML>=6.0.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:180:pyzmq>=27.1.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:181:referencing>=0.37.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:182:regex>=2025.10.23
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:183:reportlab>=4.4.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:184:requests>=2.32.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:185:requests-oauthlib>=2.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:186:rich>=14.2.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:187:rpds-py>=0.28.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:188:rsa>=4.9.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:189:safetensors>=0.6.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:190:scikit-image>=0.25.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:191:scikit-learn>=1.7.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:192:scipy>=1.16.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:193:seaborn>=0.13.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:194:sentence-transformers>=5.2.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:195:sentencepiece>=0.2.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:196:setuptools>=70.2.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:197:shellingham>=1.5.4
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:198:simsimd>=6.5.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:199:six>=1.17.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:200:smmap>=5.0.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:201:sniffio>=1.3.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:202:sounddevice>=0.5.5
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:203:soupsieve>=2.8.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:204:SQLAlchemy>=2.0.45
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:205:stack-data>=0.6.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:206:starlette>=0.27.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:207:streamlit>=1.51.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:208:stringzilla>=4.2.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:209:sympy>=1.13.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:210:tenacity>=8.5.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:214:termcolor>=3.2.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:216:thop>=0.1.1.post2209072238
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:217:threadpoolctl>=3.6.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:218:tifffile>=2025.10.16
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:219:tiktoken>=0.5.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:220:timm>=1.0.22
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:221:tokenizers>=0.22.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:222:toml>=0.10.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:226:tornado>=6.5.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:227:tqdm>=4.67.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:228:traitlets>=5.14.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:229:transformers>=4.57.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:230:typer>=0.21.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:231:types-protobuf>=6.32.1.20251210
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:232:types-requests>=2.32.4.20260107
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:233:typing-inspect>=0.9.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:234:typing-inspection>=0.4.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:235:typing_extensions>=4.15.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:236:tzdata>=2025.2
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:237:uritemplate>=4.2.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:238:urllib3>=2.5.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:239:uvicorn>=0.24.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:240:voyageai>=0.1.7
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:241:watchdog>=6.0.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:242:watchfiles>=1.1.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:243:wcwidth>=0.2.14
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:244:websockets>=15.0.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:245:Werkzeug>=3.1.3
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:246:wheel>=0.45.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:247:win32_setctime>=1.2.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:248:wrapt>=2.0.1
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:249:xyzservices>=2025.11.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:250:yarl>=1.22.0
C:\Users\abhis\OneDrive\Desktop\disaster management\requirements.txt:251:zipp>=3.23.0
